body {
    height: 100svh;
    background-color: #11222c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f69000;
    font-size: 1rem;
}

a:hover {
    color: #f6c624;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #53b1b1;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*
https://www.youtube.com/watch?v=GdrbE-s5DgQ&list=PL8B9COSat0LTg8Nekmv3K-TqJW8BsO0R9
at time code 5:41
*/

.logo img{
    max-height: 60px;
}